*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black; 
    color: aliceblue;
}
main{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(40, 39, 39),black);
    padding: 20px;
}
section{
    width: 550px;
    height: 100%;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    /* overflow: hidden; */
}
.all-reels{
    width: 100%;
    height: 100%;    
    
}
.reel{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}
.reel .bottom{
    padding: 40px 30px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.711));
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
} 
.bottom .user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom>h3{
    padding: 10px;
    font-weight: 500;
    font-size: 20px ;
}
.bottom .user button{
    background-color: transparent;
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 17 px;
    font-weight: 500;
    color: whitesmoke;
    border: 1px solid white;
}
.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 40px;
    position: absolute;
    transform: translate(100%);
    right: 0;
    text-align: center;
    bottom: 14%;
    gap: 17px;
}

.right i{
    font-size: 30px;
    font-weight: 200;
}

.right h6{
    font-size: 30px;
    font-weight: 200;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}