*{
    padding: 0px;
    margin: 0px;
}
body,html{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
keyframes se hum gradients ko change nhi kar sakte hain*/

@property --rotate{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;

}
@keyframes borderAnimate{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}


.box{
    max-width: 400px;
    padding-inline: 20px;
    color: whitesmoke;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0 0 50px rgb(255, 4, 4); */
    border-radius:15px;
    background: 
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate) ,rgb(255, 4, 4),black);
    border: 5px solid rgba(245, 245, 245, 0);/*transparent*/
    animation: borderAnimate 10s;
    animation-iteration-count: infinite;
}
.box img{
    width: 100%;
} 