*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
   background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/13907.jpg);
    background-size: cover;
}
:root{
    --x:200px;
    --y:200px
}
.box{
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background: radial-gradient(250px at var(--x) var(--y),rgba(255, 255, 255, 0),rgb(0, 0, 0));
}