*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@property --bgColor {
    syntax: "<color>";
    initial-value: rgb(188, 46, 244);
    inherits: false;
}
@keyframes animateBgColor{
    from{
        --bgColor:red;
    }
    to{
        --bgColor:blue;
    }
}
.box1{
    height: 200px;    
    width: 400px;
    background-color: var(--bgColor);
    animation: animateBgColor 5s forwards;
    border: 10px solid white;
}
