*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
p{
    color: rgb(64, 255, 47);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}