*{
    padding: 0;
    margin: 0;
}
body,html{
    background-color: black;
    width: 100%;
    color: aliceblue;
    height: 100%;
}
button{
    background-color: red;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    color: whitesmoke;
    cursor:pointer;
}
button:active{
    scale: 0.95;
}